:root {
  --sl-color-accent-low: #451a03;
  --sl-color-accent: #f59e0b;
  --sl-color-accent-high: #fde68a;
  --sl-color-white: #f5f5f5;
  --sl-color-gray-1: #e5e5e5;
  --sl-color-gray-2: #a3a3a3;
  --sl-color-gray-3: #737373;
  --sl-color-gray-4: #404040;
  --sl-color-gray-5: #262626;
  --sl-color-gray-6: #171717;
  --sl-color-black: #0a0a0a;
}
